// Fascinate
@font-face {
    font-family: 'Fascinate';
    src: url('../resources/fonts/Fascinate-Regular.ttf') format('truetype');
    font-weight: 400;
}
// End Fascinate

// Start Limelight
@font-face {
    font-family: 'Limelight';
    src: url('../resources/fonts/Limelight-Regular.ttf') format('truetype');
    font-weight: 400;
}
// End Limelight
